<div class="form-field">
  <label>{{label}}</label>
  <div class="form-field-input">
    {{#textField}}
      {{> atoms-text-input}}
    {{/textField}}
    {{#passwordField}}
      {{> atoms-password-input}}
    {{/passwordField}}
    {{#selectField}}
      {{> atoms-select-input}}
    {{/selectField}}
    {{#checkboxField}}
      {{> atoms-checkbox-input}}
    {{/checkboxField}}
    {{#dateField}}
      {{> atoms-date-input}}
    {{/dateField}}
  </div>
</div>
