{
  "extends": "airbnb",
  "env" : {
    "jest" : true,
  },
  "rules": {
    "semi": [2, "never"],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-mixed-operators": 0
  },
  "globals": {
    "window": false,
    "document": false
  }
}
