<div class="login-form">

  <p> Please log in </p>

  {{> molecules-form-field("textField": true, "label": "Username", "value": "", "placeholder": "Username..")}}
  {{> molecules-form-field("passwordField": true, "label": "Password", "value": "", "placeholder": "Password..")}}
  {{> molecules-form-field("passwordField": true, "label": "Confirm Password", "value": "", "placeholder": "Confirm Password..")}}

  <div class="login-form-actions">
    {{> atoms-button("btn-text": "Login", "btn-class": "btn-login")}}
  </div>

</div>
