<div class="login-form">

  <p> SIGN IN </p>

  {{> molecules-form-field("textField": true, "label": "Username", "value": "")}}
  {{> molecules-form-field("passwordField": true, "label": "Password", "value": "")}}
  {{> molecules-form-field("passwordField": true, "label": "Confirm Password", "value": "")}}

  <div class="login-form-actions">

    <div class="login-form-submit">
      <a href={{ link.pages-homepage }}
        {{> atoms-button("btn-text": "Login", "btn-class": "btn-login")}}
      </a>
    </div>

    <div class="login-form-forgotten-password">
      <small>
        {{> atoms-text-button("btn-text": "Forgotten your password?")}}
      </small>
    </div>

  </div>

</div>
