.login-form

  max-width 400px
  background $color-brand
  color #000
  border 1px solid darken($color-brand, 20)
  border-radius 4px
  padding 20px
  text-align center

  .form-field

    text-align left
    margin-bottom 10px

  input

    display block
    width 100%

.login-form-actions

  margin 15px 0 0
  clear both

  &:after

    content ""
    display table
    clear both

.login-form-submit

  float right

.login-form-forgotten-password

  float left
