<div class="add-visit">

  <div class="form-field">
    {{> molecules-select-with-information("sub-information": "Elland Road", "options": [{ "key": "LU", "label": "Leeds United" }, { "key": "MC", "label": "Manchester City" }, { "key": "BU", "label": "Burnley" }], "value": "LU" ) }}
  </div>

  <div class="form-field">
    {{> atoms-checkbox-input("label": "Attended") }}
  </div>

  <div class="form-field">
    {{> atoms-date-input}}
  </div>

  {{> atoms-button("btnText": "Save")}}

</div>
