.add-visit

  font-size 20px

  .form-field

    display block
    margin-bottom 10px

  .btn

    display block
    width 100%
    text-transform uppercase
    background lightgreen

    &:hover

      background darken(lightgreen, 15)
