<div class="add-visit">

  {{> molecules-select-with-information("selectField": true, "label": "Select club", "value": "LU", "sub-information": "Elland Road", "options": [{ "key": "LU", "label": "Leeds United" }, { "key": "MC", "label": "Manchester City" }, { "key": "BU", "label": "Burnley" }] ) }}

  {{> molecules-form-field("checkboxField": true, "label": "Attended", "checkboxChecked": true )}}

  {{> molecules-form-field("dateField": true, "label": "Date Visited", "value": "" )}}

  <div class="actions">
    {{> atoms-button("btnText": "Save")}}
  </div>

</div>
