<div class="progress-donut">
    <div class="progress-donut__text">
      <span class="progress-donut__number">65</span> <span class="progress-donut__of">of</span> <span class="progress-donut__number">92</span>
    </div>
    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Progress Donut</title>
      <circle class="progress-donut__complete" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#5a995a" fill="none"/>
     </g>
    </svg>
</div>
