<ul>
  <li>
    <a href={{ link.pages-homepage }}>Home</a>
  </li>
  <li>
    <a href={{ link.pages-add-visit }}>Add Visit</a>
  </li>
  <li>
    <a href={{ link.pages-overall-progress }}>Progress</a>
  </li>
</ul>
