<div class="league-icon-list">
  <div class="league-icon-list__table-container">
    <table class="league-icon-list__table-container">
      {{#leagues}}
        <tr>
          <td>{{> atoms-league-icon}}</td>
          <td>{{> atoms-progress-bar}}</td>
          <td><a href={{link.pages-league-progress}}>View</a></td>
        </tr>
      {{/leagues}}
    <table>
  </div>
</div>
