/*
 * YOUR STYLES HERE
 */
.btn {
  background: red;
  color: white;
}
.text-btn {
  color: red;
}

.club-badge {
  width: 80px;
  height: 80px;
  padding: 5px;
  text-align: center;
}

.club-badge img {
  max-width: 100%;
  max-height: 100%;
}

.league-icon img {
  width: 60px;
}

.progress {
  background: #edecec;
}

.progress .progress-bar {
  height: 16px;
  background: #5a995a;
  transition: 0.4s linear;
  transition-property: width;
}

.team-icon-list {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-icon-list .team-icon {
  opacity: 0.3;
}
.team-icon-list .team-icon.visited {
  opacity: 1;
}
